$light-color: #ffff;
$dark-color: #000000;
$primary-transparent-color: #000000;
$secondary-transparent-color: #1818180c;
$primary-button-color: #ece5e5;
$secondary-button-color: #7572725e;
$left-padding: 2.5rem;
$slider-button-size: 40px;
$slider-button-color: #f3f3f377;
