$light-color: #ffff;
$dark-color: #000000;
$primary-transparent-color: #000000;
$secondary-transparent-color: #1818180c;
$primary-button-color: #ece5e5;
$secondary-button-color: #4542425e;
$left-padding: 2.5rem;
$slider-button-height: 150px;
$slider-button-color: #2e2d2d77;
