$light-color: #ffff;
$dark-color: #000000;
$primary-transparent-color: #000000;
$secondary-transparent-color: #1818180c;
$primary-button-color: #ece5e5;
$secondary-button-color: #454242be;
$left-padding: 2.5rem;
