@media (max-width: 1025px) {
  .slider {
    margin: 1rem -7rem;
  }
  .card {
    width: 20vw;
  }
}
@media (max-width: 769px) {
  .slider {
    margin: 1rem -7rem;
  }
  .card {
    width: 25vw;
  }
}
@media (max-width: 426px) {
  .slider {
    margin: 1rem -8rem;
  }
  .card {
    width: 40vw;
  }
}
@media (max-width: 351px) {
  .slider {
    margin: 1rem -7rem;
  }
  .card {
    width: 40vw;
  }
}
//6 és 2 fél
// 4 és 2 fél
// 3 és 2 fél
// 2 és 2 fél
