@media (max-width: 426px) {
  .show-info {
    width: 80%;
    padding: 0 2rem;
    padding-bottom: 1rem;
    h1 {
      margin: 0.5rem 0;
    }
  }
}

//6 és 2 fél
// 4 és 2 fél
// 3 és 2 fél
// 2 és 2 fél
