@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(17, 16, 16, 0.462745098);
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 1rem 2.5rem;
  font-size: larger;
  background: linear-gradient(#000000, rgba(24, 24, 24, 0.0470588235));
}
.navbar ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.navbar ul #logo {
  width: 100px;
  height: 25px;
}
.navbar ul li {
  list-style: none;
}

.show-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2.5rem;
  width: 60%;
  color: white;
}
.show-info h1 {
  text-align: left;
}
.show-info p {
  text-align: left;
}
.show-info .buttons {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.show-info .buttons :nth-child(1) {
  background-color: #ece5e5;
  color: #000000;
}
.show-info .buttons :nth-child(2) {
  background-color: rgba(69, 66, 66, 0.368627451);
  color: white;
}
.show-info .buttons :nth-child(2) i {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.show-info .buttons a {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.2rem;
}

.slider-container {
  position: relative;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 1rem -10rem;
}

.card {
  height: 150px;
  width: 17vw;
  border-radius: 4px;
  background-image: url("https://images5.alphacoders.com/131/1319528.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  box-shadow: 0 0 10px #000000;
  transition: ease-in-out 0.2s;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3490196078);
}

.slider-button, #right-button, #left-button {
  position: absolute;
  height: 150px;
  background-color: rgba(46, 45, 45, 0.4666666667);
  border: none;
  z-index: 10;
  top: 75.5%;
  margin: 1rem 0;
}

#left-button {
  left: 0;
}

#right-button {
  right: 0;
}

.selected {
  transform: translateY(-10px);
  box-shadow: 0 0 10px #504c4c;
  background-blend-mode: normal;
}

.sliding-transition {
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 1025px) {
  .slider {
    margin: 1rem -7rem;
  }
  .card {
    width: 20vw;
  }
}
@media (max-width: 769px) {
  .slider {
    margin: 1rem -7rem;
  }
  .card {
    width: 25vw;
  }
}
@media (max-width: 426px) {
  .slider {
    margin: 1rem -8rem;
  }
  .card {
    width: 40vw;
  }
}
@media (max-width: 351px) {
  .slider {
    margin: 1rem -7rem;
  }
  .card {
    width: 40vw;
  }
}