@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-x: hidden;
  height: 100vh;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(17, 16, 16, 0.768627451);
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 1rem 2.5rem;
  font-size: larger;
  background: linear-gradient(#000000, rgba(24, 24, 24, 0.0470588235));
}
.navbar ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.navbar ul #logo {
  width: 100px;
  height: 25px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul a:hover {
  color: #ababab;
}

.show-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 2.5rem;
  width: 60%;
  color: white;
}
.show-info h1 {
  text-align: left;
}
.show-info p {
  text-align: left;
}
.show-info .buttons {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.show-info .buttons :nth-child(1) {
  background-color: #ece5e5;
  color: #000000;
}
.show-info .buttons :nth-child(1):hover {
  background-color: rgba(124, 124, 124, 0.8117647059);
}
.show-info .buttons :nth-child(1):hover i {
  background-color: rgba(124, 124, 124, 0.8117647059);
}
.show-info .buttons :nth-child(2) {
  background-color: rgba(117, 114, 114, 0.368627451);
  color: white;
}
.show-info .buttons :nth-child(2) i {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.show-info .buttons :nth-child(2):hover {
  background-color: rgba(14, 13, 13, 0.368627451);
}
.show-info .buttons :nth-child(2):hover i {
  background-color: rgba(14, 13, 13, 0.368627451);
}
.show-info .buttons a {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.2rem;
}

.glide__slide {
  margin: 20px 0;
  height: 150px;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px #000000;
  transition: ease-in-out 0.2s;
}

.slider-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 2.5rem;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgba(243, 243, 243, 0.4666666667);
  border: none;
  z-index: 10;
  border-radius: 40px;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.4666666667);
  color: white;
}

.selected {
  transform: translateY(-10px);
  box-shadow: 0 0 10px #504c4c;
  background-blend-mode: normal;
}

@media (max-width: 426px) {
  .show-info {
    width: 80%;
    padding: 0 2rem;
    padding-bottom: 1rem;
  }
  .show-info h1 {
    margin: 0.5rem 0;
  }
}